<section class="features-container section--center mdl-grid mdl-grid--no-spacing">
    <% for(var i = 0; i < features.length; i++) {%>
    <div class="features-list">
        <h4><%- features[i].name %></h4>
        <p><%- features[i].text %></p>
    </div>
    <% } %>

    <div class="button-container mdl-cell mdl-cell--12-col-desktop center">
        <a href="<%- CTA.url %>" class="cta-button mdl-typography--font-regular mdl-button mdl-button--raised mdl-button--accent">
            <%- CTA.text %>
        </a>
    </div>
</section>
