// NOTE: Copy this file and place it in your microsite's styles folder. `main.scss` will look for and import this file.
@import "../node_modules/material-design-lite/src/variables";

/* ==========  CUSTOM THEME COLORS  ========== */
// Main theme colors
$primary-color: unquote("rgb(#{$palette-green-500})"); // This is your primary color theme
$secondary-color: unquote("rgb(#{$palette-green-700})"); // This is the darker shade within the same palette
$primary-light: unquote("rgb(#{$palette-green-100})"); // This is the lighest shade within the same palette
$primary-dark: unquote("rgb(#{$palette-green-900})"); // This is the darkest shade within the same palette

/* ==========  CUSTOM THEME IMAGE  ========== */
// Main Hero Image
.hero-image {
  max-width: 400px;
  width: 400px;
  padding-right: 48px;

  @media (max-width: 840px) {
    padding-right: 0;
  }
}

.features-list a {
    color: $primary-color;
}
