<footer>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-typography--text-center">
                <img src="<%- footerImg %>" alt="">
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet footer-links">
                <ul class="footer-links">
                    <li> <a class="" href="https://wwww.angular.io">Learn Angular</a> </li>
                </ul>
            </div>
            <div class="mdl-cell mdl-cell--9-col">
                <p class="mdl-typography--font-light power-text"> Powered by Google ©2010-2016. Code licensed under an <a href="/license.html">MIT-style License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
            </div>
        </div>
    </div>
</footer>
