// NOTE: Copy this file and place it in your microsite's styles folder. `main.scss` will look for and import this file.
@import "../node_modules/material-design-lite/src/variables";

/* ==========  CUSTOM THEME COLORS  ========== */
// Main theme colors
$primary-color: unquote("rgb(#{$palette-red-500})"); // This is your primary color theme
$secondary-color: unquote("rgb(#{$palette-red-700})"); // This is the darker shade within the same palette
$primary-light: unquote("rgb(#{$palette-red-100})"); // This is the lighest shade within the same palette
$primary-dark: unquote("rgb(#{$palette-red-900})"); // This is the darkest shade within the same palette

/* ==========  CUSTOM THEME IMAGE  ========== */
// Main Hero Image
.hero-image {
  width: 360px;
  padding-right: 40px;

  @media (max-width: 830px) {
    padding-right: 0;
  }
}
