// NOTE: Copy this file and place it in your microsite's styles folder. `main.scss` will look for and import this file.
@import '../node_modules/material-design-lite/src/variables';

/* ==========  CUSTOM THEME COLORS  ========== */
// Main theme colors
$primary-color: unquote("rgb(#{$palette-blue-500})"); // This is your primary color theme
$secondary-color: unquote("rgb(#{$palette-blue-700})"); // This is the darker shade within the same palette
$primary-light: unquote("rgb(#{$palette-blue-100})"); // This is the lighest shade within the same palette
$primary-dark: unquote("rgb(#{$palette-blue-900})"); // This is the darkest shade within the same palette

/* ==========  Base Colors  ========== */
$neutral-white: unquote("rgb(#{$color-white})"); // This is a nutral color (white)
$neutral-black: unquote("rgb(#{$color-black})"); // This is a nutral color (black)

/* ==========  CUSTOM THEME IMAGE  ========== */
// Main Hero Image
.hero-image {
  margin-top: -10px;
  width: 200px;
}
