<section class="features-container section--center mdl-grid mdl-grid--no-spacing">
    <div class="features-list">
        <h4>Better Perceived Performance</h4>
        <p>
            First time users of your application will instantly see a server rendered view
            which greatly improves perceived performance and the overall user experience.
            According to
            <a href="http://googleresearch.blogspot.com/2009/06/speed-matters.html">research at Google</a>,
            the difference of just 200 milliseconds in page load performance has an impact on
            user behavior.
        </p>
    </div>

    <div class="features-list">
        <h4>Optimized for Search Engines</h4>
        <p>
            Although <a href="https://webmasters.googleblog.com/2015/10/deprecating-our-ajax-crawling-scheme.html">
                Googlebot crawls and renders most dynamic sites</a>, many search engines expect plain HTML.
            Server-side pre-rendering is a reliable, flexible and efficient way to ensure that all
            search engines can access your content.
        </p>
    </div>

    <div class="features-list">
        <h4>Site Preview</h4>
        <p>
            Ensure that Facebook, Twitter and all other social media apps correctly display a preview image of your app.
        </p>
    </div>

    <div class="button-container mdl-cell mdl-cell--12-col-desktop center">
        <a href="<%- CTA.url %>" class="mdl-typography--font-regular mdl-button mdl-button--raised mdl-button--accent">
            <%- CTA.text %>
        </a>
    </div>
</section>
