<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="favicon.ico" rel="shortcut icon" type="image/ico">
  <title>Angular Name</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
  <link rel="stylesheet" href="styles/main.css">

</head>
<body class="mdl-base">
  <%- yield %>

  <script src="/node_modules/material-design-lite/material.min.js"></script>
</body>
</html>
